<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"
      rel="stylesheet"
    />
    <title>My Project</title>
  </head>
  <body>
    <h1 class="title">About</h1>
    <div class="description">
      <p>
        Cyber City is one of the fastest growing comic book stores in downtown
        Toronto since 1990s. However, the digital revelotion is publishing
        industry in the past 15 years had forced the bookstores to look for
        creative ways to attract more customers. Cyber City Comics decided to
        partner with a wed development agency and created this web site for your
        use.
      </p>
      <p>
        We hope you enjoy this new platform and do not hesitate to bring forward
        any feedbacks you may have.
      </p>
    </div>
    <script src="script.js"></script>
  </body>
</html>
