<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/subscribe.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"
      rel="stylesheet"
    />
    <title>My Project</title>
  </head>
  <body>
    <h1 class="title">Subscribe</h1>
    <div class="description">
      <p>
        Do not want to be missed out?
      </p>
      <p>
        Subscribe to our email newsletter, we will send you the latest comics daily.
      </p>
      <div>
          <input class="input" placeholder="Email"></input>
          <button class="button">submit</button>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
